version: '3.7'

services:
  frontend:
    image: nginx:latest  # You can use any official image or a simple image for your frontend
    deploy:
      replicas: 1
      placement:
        constraints: [node.hostname == master]
    networks:
      - webnet

  backend:
    image: node:latest  # Use an official image like 'node' or any other for backend
    deploy:
      replicas: 1
      placement:
        constraints: [node.hostname == worker1]
    networks:
      - webnet

  nginx:
    image: nginx:latest
    deploy:
      replicas: 1
      placement:
        constraints: [node.hostname == worker2]
    networks:
      - webnet
    ports:
      - "80:80"

networks:
  webnet:
    driver: overlay
