version: '3.7'

services:
  frontend:
    build:
      context: .
      dockerfile: Dockerfile-frontend
    deploy:
      replicas: 1
      placement:
        constraints:
          - node.role == worker
          - node.hostname == worker1
    networks:
      - webnet

  backend:
    build:
      context: .
      dockerfile: Dockerfile-backend
    deploy:
      replicas: 1
      placement:
        constraints:
          - node.role == worker
          - node.hostname == worker2
    networks:
      - webnet

  nginx:
    image: nginx:latest
    deploy:
      replicas: 1
      placement:
        constraints: [node.hostname == worker2]
    networks:
      - webnet
    ports:
      - "8080:80"

networks:
  webnet:
    driver: overlay

