version: '3.7'

services:
  frontend:
    build:
      context: ./frontend
    deploy:
      replicas: 1
      placement:
        constraints:
          - node.role == worker
          - node.hostname == worker1
    networks:
      - webnet

  backend:
    build:
      context: ./backend
    deploy:
      replicas: 1
      placement:
        constraints:
          - node.role == worker
          - node.hostname == worker2
    networks:
      - webnet

  nginx:
    build:
      context: ./nginx
    deploy:
      replicas: 1
      placement:
        constraints:
          - node.role == manager
          - node.hostname == master
    networks:
      - webnet
    ports:
      - "8081:80"

networks:
  webnet:
    driver: overlay
