{% extends 'index.html' %}

{% block title %}Қалай{% endblock %}

{% block content %}

<!-- Тұрақты Панель -->
<div class="fixed-panel">
    <p><i class="fa-solid fa-language"></i> Ескерту, бұл бет жасанды интеллект көмегімен аударылған! <i class="fa-solid fa-robot"></i></p>
</div>

<div class="content-box">
    <h1 id="definitions">Анықтамалар</h1>

    <h2>Factee</h2>
    <p>Әлеуметтік емес білім желісі. Әрбір пайдаланушы – медиатор.</p><br>

    <h2>Медиатор</h2>
    <p>Медиатор түпнұсқа мақалалар мен мәтіндерді олардың өңделген фактілерімен байланыстырады. Медиатор тек сілтемелер мен қайта баяндау әдістеріне жауап береді, бірақ мазмұнға жауапты емес.</p>
    <br>

    <h2><i class="fa-solid fa-lightbulb"></i> Факт</h2>
    <p>Дереккөзге сүйене отырып, медиатор өңдеген және қайта баяндаған ақпарат. Факт өз дереккөзімен тікелей байланысты. Әр факт бір ғана медиаторға тиесілі және өз дереккөзінің түрін мұраға алады.</p><br>

    <h2><i class="fa-solid fa-file"></i> Дереккөз</h2>
    <p>Басқа автор жазған түпнұсқа мәтін. Дереккөздер пайдаланушыларға тиесілі емес және сайт арқылы өңделеді.</p>

    <hr>

    <h1 id="badges">Бағалау</h1>
    <p></p>

    <h2 style="color: {{labels[0].color}}; background-color: color-mix(in srgb, {{labels[0].color}} 10%, #fefefe)!important;">{{labels[0].icon | safe}} {{ _words[labels[0].name] or labels[0].name }}</h2>
    <h2 style="color: {{labels[1].color}}; background-color: color-mix(in srgb, {{labels[1].color}} 10%, #fefefe)!important;">{{labels[1].icon | safe}} {{ _words[labels[1].name] or labels[1].name }}</h2>
    <p>Бұл сіздің эмоционалды бағаңызды көрсетеді. Ол фактінің тереңдігін немесе субъективті рейтингті білдіруі мүмкін.</p><br>

    <h2 style="color: {{labels[2].color}}; background-color: color-mix(in srgb, {{labels[2].color}} 10%, #fefefe)!important;">{{labels[2].icon | safe}} {{ _words[labels[2].name] or labels[2].name }}</h2>
    <h2 style="color: {{labels[3].color}}; background-color: color-mix(in srgb, {{labels[3].color}} 10%, #fefefe)!important;">{{labels[3].icon | safe}} {{ _words[labels[3].name] or labels[3].name }}</h2>
    <p>Бұл рейтинг фактінің дереккөзге қаншалықты дұрыс байланыстырылғанын көрсетеді, соның ішінде қайта баяндаудың дұрыстығы, сілтемелер, контекст және дәйексөздер.</p><br>

    <h2 style="color: {{labels[4].color}}; background-color: color-mix(in srgb, {{labels[4].color}} 10%, #fefefe)!important;">{{labels[4].icon | safe}} {{ _words[labels[4].name] or labels[4].name }}</h2>
    <h2 style="color: {{labels[5].color}}; background-color: color-mix(in srgb, {{labels[5].color}} 10%, #fefefe)!important;">{{labels[5].icon | safe}} {{ _words[labels[5].name] or labels[5].name }}</h2>
    <p>Бұл рейтинг дереккөз(дердің) қолжетімділігін бағалайды, оларды табу және оқу қаншалықты оңай екенін көрсетеді.</p>

    <hr>

    <h1 id="criteria">Дереккөз Критерийлері</h1>
        <h2>Түрлері</h2>
        <h3 style="color: {{types[0].color}};">{{ _words[types[0].name] or types[0].name }}</h3>
        <p>Күнделікті білім кең ауқымды онлайн ақпаратты қамтиды. Бұл басқа санаттарға кірмейді және фрагменттелген, жергілікті және икемді сипаттарға ие.</p><br>

        <h3 style="color: {{types[1].color}};">{{ _words[types[1].name] or types[1].name }}</h3>
        <p>Мистикалық білім – жеке тәжірибеге, субъективтілікке, эзотерикаға, интуицияға және эмоцияға негізделген.</p><br>

        <h3 style="color: {{types[2].color}};">{{ _words[types[2].name] or types[2].name }}</h3>
        <p>Діни білім – діни беделге, трансценденттікке және иррационалдылыққа негізделген.</p><br>

        <h3 style="color: {{types[3].color}};">{{ _words[types[3].name] or types[3].name }}</h3>
        <p>Ғылыми білім – объективтілік, дәлелділік, жүйелілік, рационалдылық және дәлдік сияқты сипаттармен ерекшеленеді.</p><br>

    <hr>

    <h1 id="responsibilities">Жауапкершілік</h1>

    <h2>Медиатор</h2>
    <p>Медиаторлар сайттың мүмкіндіктерін пайдалануға құқылы, бірақ сайт пен пайдаланушыларға зиян келтірмеуі керек.</p><br>

    <h2>Медиатор</h2>
    <p>Сайттың мүмкіндіктерін фактілерді байланыстыру үшін пайдалану рұқсат етіледі, бірақ сайтқа және оның пайдаланушыларына әдейі зиян келтіруге тыйым салынады.
        Сайт профиль деректерін қауіпсіздік тұрғысынан пайдалануды қатаң түрде ұсынады. Мысалы, пошта, аты-жөні және пайдаланушы аты сияқты өрістерді толтырғанда.
        Жазылымсыз медиатордың белгілі бір мөлшерде факт жасау мүмкіндігі бар, ал жазылым лимитті арттырады.</p><br>

    <h2>Сайт</h2>
    <ul>
    <li>Сайт бастапқы деректерді өзгертуге құқылы, бірақ фактілерді өзгерте алмайды. Бастапқы деректерге қойылатын талаптарға сәйкес өзгерістер енгізіледі.</li>
    <li>Сайт жасалған аккаунттардың жеке басын растауға міндетті емес, аутентификация үшін сыртқы бағдарламалық жасақтама (Keycloak) олардың құжаттамасына сәйкес электрондық поштаны растайды.
        Растау кезінде үшінші тарап пошта мекенжайларынан сақ болыңыз, сайттың поштасы сайттың төменгі бөлігінде көрсетілген.</li>
    <li>Сайт медиатор бекіткен мақалаларға сілтемелер үшін жауап бермейді.</li>
    <li>Жойылған факт немесе дереккөз сілтеме параметрлерінде қысқартылған нұсқаны қамтиды, бірақ оны қайта жіберу кезінде кез келген адам өзгерте алады.</li>
    <li>Сайт APA дәйексөз нормаларын сақтауға тырысады.</li>
    </ul>

    <h2>Хост</h2>
    <p>Сайттың хосты сайт қолданбасының деңгейінен төменгі қабаттарға жауапты.</p>

    <hr>

    <h1 id="how_to_fact">Факт Жазу</h1>
    <h2>Атауы</h2>
    <p>Дереккөз мәтінін қайта баяндап, қысқаша жеткізу.</p><br>

    <h2>Контекст</h2>
    <p>Фактіні егжей-тегжейлі түсіндіруге мүмкіндік береді.</p><br>

    <h2>Дереккөз</h2>
    <p>Факт алынған дереккөз.</p><br>

    <h2>Дәйексөз</h2>
    <p>Түпнұсқадан үзінді.</p><br>

    <h2>Бет</h2>
    <p>Факт алынған бетті көрсету.</p><br>

    <hr>

    <h1 id="how_to_source">Дереккөз Қосу</h1>
    <h2>Атауы</h2>
    <p>Дереккөздің автор берген атауы.</p><br>

    <h2>Автор</h2>
    <p>Автордың аты.</p><br>

    <h2>Жылы</h2>
    <p>Жарияланған немесе қайта басылған жыл.</p><br>

    <h2>Сілтеме</h2>
    <p>Дереккөзге арналған сілтеме.</p>
</div>

<style>
/* Styling for Fixed Panel */
    .fixed-panel {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background-color: #ffecb5;
        color: black;
        padding: 10px;
        text-align: center;
        font-size: 18px;
        font-weight: bold;
        z-index: 10;
    }
    .content-box {
        padding: 16px;
        width: 66.66%; /* 2/3 of the parent */
        border-right: 1px solid gray;
    }
</style>

{% endblock %}
