{% extends 'index.html' %}

{% block title %}Как{% endblock %}

{% block content %}

<div class="content-box">
    <h1 id="definitions">Определения</h1>

    <h2>Factee</h2>
    <p>Несоциальная сеть знаний. Каждый пользователь - медиатор.</p><br>

    <h2>Медиатор</h2>
    <p>Медиатор соединяет исходные статьи и текста с их переработанным фактом. Медиатор несёт ответственность лишь за методы ссылания на статью и перефразирования, а не за содержание текста.</p>
    <br>

    <h2><i class="fa-solid fa-lightbulb"></i> Факт</h2>
    <p>Перефразированная и обработанная информация медиатором, исходя из источника. Факт включает в себя источник один к одному. Факт принадлежит одному медиатору. Факт наследует тип источника.</p><br>

    <h2><i class="fa-solid fa-file"></i> Источник</h2>
    <p>Исходный текст другого автора. Источник не принадлежит пользователям. Источники редактируется сайтом</p>

    <hr>

    <h1 id="badges">Оценки</h1>
    <p></p>

    <h2 style="color: {{labels[0].color}}; background-color: color-mix(in srgb, {{labels[0].color}} 10%, #fefefe)!important;">{{labels[0].icon | safe}} {{ _words[labels[0].name] or labels[0].name }}</h2>
    <h2 style="color: {{labels[1].color}}; background-color: color-mix(in srgb, {{labels[1].color}} 10%, #fefefe)!important;">{{labels[1].icon | safe}} {{ _words[labels[1].name] or labels[1].name }}</h2>
    <p>Отражают вашу эмоциональную оценку. Отражает объёмностью факта или безпричинную оценку</p>
    <br>

    <h2 style="color: {{labels[2].color}}; background-color: color-mix(in srgb, {{labels[2].color}} 10%, #fefefe)!important;">{{labels[2].icon | safe}} {{ _words[labels[2].name] or labels[2].name }}</h2>
    <h2 style="color: {{labels[3].color}}; background-color: color-mix(in srgb, {{labels[3].color}} 10%, #fefefe)!important;">{{labels[3].icon | safe}} {{ _words[labels[3].name] or labels[3].name }}</h2>
    <p>Данная оценка показывает насколько хорошо медиатор соеденил факт с источником. Правильность перефразирования, страницы, цитаты, контекста в общем.</p><br>

    <h2 style="color: {{labels[4].color}}; background-color: color-mix(in srgb, {{labels[4].color}} 10%, #fefefe)!important;">{{labels[4].icon | safe}} {{ _words[labels[4].name] or labels[4].name }}</h2>
    <h2 style="color: {{labels[5].color}}; background-color: color-mix(in srgb, {{labels[5].color}} 10%, #fefefe)!important;">{{labels[5].icon | safe}} {{ _words[labels[5].name] or labels[5].name }}</h2>
    <p>Данная оценка показывает доступность источника(ов). Насколько легко найти источник(и) и прочитать его(их) полностью.</p>

    <hr>

    <h1 id="criteria">Критерии источников</h1>
        <h2>Типы</h2>
        <h3 style="color: {{types[0].color}}; background-color: color-mix(in srgb, {{types[0].color}} 10%, #fefefe)!important;">{{ _words[types[0].name] or types[0].name }}</h3>
        <p>Бытовые знания касаются большого множества информации в интернете. Всё, что не входит в другие типы источников.
            Бытовые знания рассказываются авторитетом первоисточника, фрагментарностью, неполной достоверностью, локальностью, гибокстью.</p><br>

        <h3 style="color: {{types[1].color}}; background-color: color-mix(in srgb, {{types[1].color}} 10%, #fefefe)!important;">{{ _words[types[1].name] or types[1].name }}</h3>
        <p>Мистические знания раскрываются авторитетом личного опыта, субъективностью, невербальностью, эзотеричностью, интуитивностью и эмоциональностью.</p><br>

        <h3 style="color: {{types[2].color}}; background-color: color-mix(in srgb, {{types[2].color}} 10%, #fefefe)!important;">{{ _words[types[2].name] or types[2].name }}</h3>
        <p>Религиозные знания веруются авторитетом религии, трансцендентностью, иррациональностью.</p><br>

        <h3 style="color: {{types[3].color}}; background-color: color-mix(in srgb, {{types[3].color}} 10%, #fefefe)!important;">{{ _words[types[3].name] or types[3].name }}</h3>
        <p>Научные знания определяются авторитетом издания, объективностью, воспроизводимостью, системностью, доказуемостью, фальсифицируемостью, рациональностью, точностью</p><br>

        <h2>Автор, год и название</h2>
        <p>В большинстве случаев указывается авторитетным источником или историчностью.</p>
    <hr>

    <h1 id="responsibilities">Ответственности сторон</h1>

    <h2>Медиатор</h2>
    <p>Использование возможностей сайта для связывания фактов, но запрет на умышленное причинение вреда сайту и пользователям сайта.
        Сайт настоятельно рекомендует использовать данные профиля с учётом своей безопасности. Например при заполнении полей почты, имени, фамилии и юзернейма.
        Медиатор без подписки имеет определённое количество создаваемых фактов, подписка увеличивает лимит.</p><br>

    <h2>Сайт</h2>
    <ul>
    <li>Сайт имеет право на изменение данных об исходников, но не фактов. Исходники изменяются в соответствии с критериями для исходников.</li>
    <li>Сайт не подтверждает личность созданных аккаунтов, сторонний софт для аутентификации (keycloak) подтвержает адрес электронной почты в связи с их документацией.
    Остерегайтесь сторонних адрессов почт при подтверждении, почта сайта указана в нижней части сайта.</li>
    <li>Сайт не несёт ответственности за прикреплённые медиатором ссылки на статьи.</li>
        <li>Удалённый факт или источник имеют в себе уменьшенную версию в параметрах ссылки, но может быть изменена кем угодно при пересылании.</li>
        <li>Сайт старается следовать нормам цитирования APA.</li>
    </ul>

    <h2>Хост</h2>
    <p>Хост сайта несёт ответственность за слои ниже уровня приложения сайта.</p>

    <hr>

    <h1 id="how_to_fact">Написание <a href="#definitions">факта</a></h1>
    <h2>Титул</h2>
    <p>Перефразированное и обработанный более короткий текст из текста источника. Более общие понятия и уход от слов источника уменьшат зависимость между источником и фактом, увеличивая ваше когнитивное искажение информации.</p><br>

    <h2>Контекст</h2>
    <p>Позволяет более подробно расписать про факт. Добавляет ваше влияние на информацию.</p><br>

    <h2>Источник</h2>
    <p>Откуда вы цитируете информацию или более свободно интерпретируете.</p><br>

    <h2>Цитата</h2>
    <p>Дословная информация из источника. Облегчает поиск информации на странице</p><br>

    <h2>Страница</h2>
    <p>Страница источника для перефраза и цитаты. Облегчает поиск из источника.</p><br>

    <hr>

    <h1 id="how_to_source">Добавление <a href="#definitions">источника</a></h1>
    <p>Поля могут быть переформатированны <a href="#responsibilities">сайтом</a>.</p><br>
    <h2>Титул</h2>
    <p>Название источника автора.</p><br>

    <h2>Автор</h2>
    <p>Наименование автора(ов).</p><br>

    <h2>Год</h2>
    <p>Год написания работы или переиздания автора(ов) или журнала.</p><br>

    <h2><a href="#criteria">Тип источника знаний</a></h2>

    <h2>Ссылка</h2>
    <p>Ссылка на электронный ресурс источника.</p>

</div>

<style>
    .content-box {
        padding: 16px;
        width: 66.66%; /* 2/3 of the parent */
        border-right: 1px solid gray;
    }
</style>

{% endblock %}