{% extends 'index.html' %}

{% block title %}{{ _words['logo'] }}: {{ _words['fact'] }}{% endblock %}

{% block content %}

<div class="container">
    <div class="card source-card">
        <div class="p-4">
        <h3 class="text-primary">{{ fact.title }}</h3>
        <p><strong>{{ _words['context'] }}</strong></p>
        <p>{{ fact.context }}</p>
            </div>

        <div class="bg-gray text-muted m-0 p-0">
            <blockquote class="text-muted p-4">"{{ fact.quote }}" ({{ source.author }}, {{ source.year }}, {{ _words['p'] }}. {{ fact.page }})</blockquote>
        </div>

        <a href="{{ url_for('web.sourcesView', _id=source._id) }}" style="text-decoration: none;">
            <div class="p-4">
                <span class="badge text-white px-2 py-1 rounded" style="background-color: {{ type.color }};">{{ type.name }}</span>
                <i class="fa-solid fa-up-right-from-square"></i>
                <span style="color: black;">({{ source.author }}, {{ source.year }}, {{ source.title }})</span>
            </div>
        </a>

        <button class="btn copy-btn m-0 p-4" onclick="copyToClipboard('{{ _host }}/facts?_id={{ fact._id }}&baked={{ fact.title }} ({{ source.author }}, {{ source.year }})', this)">
            <span class="icon"><i class="fa-solid fa-copy"></i></span><p>Copy</p>
        </button>

        <div class="p-4">
        <div class="mt-auto mt-3">
            <a href="{{ _host }}/profile/{{ user.username }}" style="text-decoration:none">
            <div class="row mb-2" style="margin-left: 0px;">
                    <div class="col-md-6 text-end" style="width: 32px; height: 32px; padding: 0 0;">
                        <img class="avatar w-16 h-16" src="{{ url_for('image.getAvatar', username=user.username) }}" alt="{{ _words['user_avatar'] }}">
                    </div>
                    <div class="col-md-6 d-flex flex-column justify-content-center">
                        <h6 class="card-subtitle text-muted">{{ user.username }}</h6>
                    </div>
                </div>
            </a>

            <p class="card-text text-muted small"><strong>{{ _words['created_at'] }}:</strong> {{ source.created_at.strftime('%Y-%m-%d %H:%M:%S') }}</p>
            <!-- Reaction Buttons -->
            <div class="d-flex gap-2 mt-1">
                {% for label in labels %}
                {% set fact_label = fact.labels | selectattr("label_id", "equalto", label._id) | list %}
                {% set users = fact_label[0].users if fact_label and fact_label[0].users is not none else [] %}
                {% set is_active = self_user_id in users %}
                {% set span_color = label.color %}
                    <span class="btn btn-outline-secondary btn-sm" style="color: {{span_color}}; border-color: {{span_color}}" data-bs-toggle="tooltip" title="{{ label.name }}" onclick="sendReaction('{{ fact._id }}', 'facts', '{{label.name}}')">
                        {{label.get('icon', label.get('name')) | safe}} {{ users | length }}
                    </span>
                {% endfor %}
            </div>
        </div>
    </div>
    </div>
</div>

<!-- JavaScript for handling reactions -->
<script>
    function sendReaction(sourceId, collection, label) {
        fetch('{{ url_for('database.react') }}', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                "_id": sourceId,
                "_collection": collection,
                "_label": label
            })
        })
        .then(response => response.json())
        .then(data => {
            window.location.reload();
        })
        .catch(error => {
            console.log(error);
            alert('Relogin');
        });
    }

    function copyToClipboard(text, button) {
            navigator.clipboard.writeText(text).then(function() {
                button.getElementsByTagName('p')[0].innerHTML = '{{ _words['copied'] }}';
            }).catch(function(error) {
                console.error("Copy failed", error);
            });
        }
</script>

{% endblock %}
