{% extends 'index.html' %}

{% block title %}{{ _words['logo'] }}: {{ _words['baked'] }}{% endblock %}

{% block content %}

<div class="container">
    <div class="card source-card">
        <div class="pt-4 mb-4">
            <h1 class="p-4"><i class="fa-solid fa-triangle-exclamation me-2"></i>{{ _words['warning'] }}</h1>
            <h3 class="p-4 m-0" style="background-color: var(--bs-danger-border-subtle)!important;">{{ _words['redirect_warning'] }}</h3>
        </div>

        <div class="bg-gray text-muted m-0 p-0 mb-4">
            <blockquote class="text-muted p-4" style="background-color: var(--bs-danger-border-subtle)!important;"><a style="color: red!important;">{{ redirect }}</a></blockquote>
        </div>
    </div>
    </div>
</div>

{% endblock %}
